@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    
    
}

a {
    text-decoration: none;
}


img {
    max-width: 100%;
    width: 100%;
    height: 100%;

    
}

.wrapper {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: larger;
    background: #2A7B9B;
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    width: 100%;
    
    
}

.hero-container{
    font-style: italic;
    color: azure;
    width: 100%;
    display:flex;
    justify-content: space-around;
    flex: 0 0 100%;
    height: 100%;
    
}
.hero-container button {
    width: 50%;
    border-bottom: 100%;
    background: #fa9021;
    padding: 9px 17px;
    border-radius: 5px;


}

header {
    padding: 50px 0;
}

.container {
    width: 1400px;
    margin: 0 auto;
    
}

