@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width:100%;
    max-height:100%;
}

a {
    text-decoration: none;
}


img {
    margin: 20px -1px;
    max-width: 100%;
    width: 100%;
    height: 100%;
    max-height: 100%;
    right:auto;
}

.wrapper {


    
}

.hero-container{
    font-style: italic;
    color: azure;
    width: 100%;
    display:flex;
    justify-content: space-around;
    flex: 0 0 100%;
    height: 100%;
    z-index: 1;
    position: relative;

    
}
.hero-down
{
    padding-top: 20px;
    color: #21fa33;
    
}
.hero-button {
    margin: 150px;
    background-color: #2A7B9B;
    padding: 8px 1%;
    border-radius: 10px;
    transition: all 500ms ease;
    color: beige;
    font-size: medium;
    width: 0%;
    height: 10%;
}
.hero-button:hover{
    background: #21fa33;
    color: black;
    font-size: medium;
}



header {
    padding: 50px 0;
}

.container {
    width: 1400px;
    margin: 0 auto;
    
}

.copyrights{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    padding: 10px 40px;
    background: linear-gradient(0deg, #000, #3a3a3a);
    color: #fff;
    justify-content: space-between;
}

footer{
    font-size: small;
    max-width:100%;
    max-height:100%;

}


html, body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: larger;
    background: #2A7B9B;
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    width: 100%;
    height: 100%;
    max-height: 100%;
}
