   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width:100%;
    max-height:100%;
}
   body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: larger;
    background: #2A7B9B;
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    width: 100%;
    height: 100%;
    max-height: 100%;
   }
main {
    box-sizing: border-box;
    display: block;
    unicode-bidi: isolate;
}

.game_auth {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    max-width: 480px;
    margin: 0 auto;
    height: 100vh;
    background: #8312834f;
    overflow: hidden;
    grid-area: span;
}

.game_auth h1 {
    margin: 0;
    background: rgb(0, 174, 255);
    font-size: 1.4rem;
    width: 100%;
    text-align: center;
    padding: 8px 0;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.game_auth_container {
    flex: 0 0 100%;
    height: 100%;
    display: block;
    text-align: center;
    padding: 1rem;
}
.form_group {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
}

.form_label {
    display: block;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.25rem;
    margin-bottom: .25rem;
    font-style: italic;
    color: beige;
}

.form_control {
    border: 2px solid #b4b4b4;
    font-family: Inter;
    padding: .25rem;
    font-size: 1.5rem;
    text-align: center;
    transition: all .25s 
    ease;
}
.slot {
    margin: .4rem;
    position: relative;
    left: -rem;
    background-color: #2A7B9B;
    border-radius: 10px;
    transition: all 500ms ease;
    color: beige;
    font-size: medium;
    width: 30%;
    height: 4%;
    
}

.slot:hover{
    background: #21fa33;
    color: black;
    font-size: medium;
}

.slot:active{
    background-color: #2A7B9B;
    color: black;
    font-size: medium;
}
