
   html body{
    position: relative;
    font-style: normal;
    font-weight: auto;
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    background-image: url(/static/img/slot.jpg);
    background-size: cover;
    background-repeat:initial;
    max-width: 100%;
    width: 100%;
    z-index: 2;
    height: 50rem;
   }


 .game_box h1 {
    margin: 0;
    background: rgb(0, 174, 255);
    font-size: 1.4rem;
    width: 100%;
    text-align: center;
    padding: 0% 0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 1;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}
.status-round {
    position: relative;
    top: -.5rem;
    margin: 10px;
    background-color: #2a3b9b;
    padding: 8px 1%;
    transition: all 500ms ease;
    color: beige;
    font-size: medium;
    text-align: center;
    width: 150px;
    height: 50%;
}

.away {
    position: relative;
    top: -.5rem;
    margin: 10px;
    background-color: #812a9b;
    padding: 8px 1%;
    transition: all 500ms ease;
    color: beige;
    font-size:medium;
    width: 240px;
    height: 50px;
    text-wrap: inherit;
}
.current-money {
   position: relative;
    top: -.6rem;
    margin: 10px;
    background-color: #a7a418;
    padding: 8px 1%;
    transition: all 500ms ease;
    color: beige;
    font-size: medium;
    width: 130px;
    height: 50px;
}
.next-money {
   position: relative;
    top: -.6rem;
    margin: 10px;
    background-color: #4a9b2a;
    padding: 8px 1%;
    transition: all 500ms ease;
    color: beige;
    font-size: medium;
    width: 130px;
    height: 50px;
}
.lost-money {
   position: relative;
    top: -.6rem;
    margin: 10px;
    background-color: #a71818;
    padding: 8px 1%;
    transition: all 500ms ease;
    color: beige;
    font-size: medium;
    width: 130px;
    height: 50px;
}
.fix-money {
   position: relative;
    top: -.6rem;
    margin: 10px;
    background-color: #2a729b;
    padding: 8px 1%;
    transition: all 500ms ease;
    color: beige;
    font-size: medium;
    width: 130px;
    height: 50px;
}

.game_box_container {
    flex: 0 0 100%;
    max-height: 100%;
    display: block;
    text-align: center;
    padding: 1rem;
    z-index: 0;
}

.tree-container-c1{
    font-size:large;
    flex: 0 0 100%;
    position: relative;
    top: 0rem;
    left: 75%;
    background: rgb(0, 8, 12);
    color: #ecebea;
    max-height: 30%;
    max-width: 25%;
    display: block;
    text-align:start;
    text-align: left;
    padding: 5px;
    padding-left: .1rem;
}
.tree-container-c2{

    font-size:large;
    flex: 0 0 100%;
    position: relative;
    top: 0rem;
    left: 75%;
    background: rgb(0, 8, 12);
    color: #dd6706;
    max-height: 30%;
    max-width: 25%;
    display: block;
    text-align:start;
    text-align: left;
    padding: 5px;
    padding-left: .1rem;
}
.tree-container-c3{
    
    font-size:large;
    flex: 0 0 100%;
    position: relative;
    top: 0rem;
    left: 75%;
    background: rgb(0, 8, 12);
    color: #dd6706;
    max-height: 30%;
    max-width: 25%;
    display: block;
    text-align:start;
    text-align: left;
    padding: 5px;
    padding-left: .1rem;
}
.tree-container-c4{
    font-size:large;
    flex: 0 0 100%;
    position: relative;
    top: 0rem;
    left: 75%;
    background: rgb(0, 8, 12);
    color: #dd6706;
    max-height: 30%;
    max-width: 25%;
    display: block;
    text-align:start;
    text-align: left;
    padding: 5px;
    padding-left: .1rem;
}
.tree-container-c5{
    font-size:large;
    flex: 0 0 100%;
    position: relative;
    top: 0rem;
    left: 75%;
    background: rgb(0, 8, 12);
    color: #dd6706;
    max-height: 30%;
    max-width: 25%;
    display: block;
    text-align:start;
    text-align: left;
    padding: 5px;
    padding-left: .1rem;
}
.tree-container-c6{
    font-size:large;
    flex: 0 0 100%;
    position: relative;
    top: 0rem;
    left: 75%;
    background: rgb(0, 8, 12);
    color: #dd6706;
    max-height: 30%;
    max-width: 25%;
    display: block;
    text-align:start;
    text-align: left;
    padding: 5px;
    padding-left: .1rem;
}
.tree-container-c7{
    font-size:large;
    flex: 0 0 100%;
    position: relative;
    top: 0rem;
    left: 75%;
    background: rgb(0, 8, 12);
    color: #dd6706;
    max-height: 30%;
    max-width: 25%;
    display: block;
    text-align:start;
    text-align: left;
    padding: 5px;
    padding-left: .1rem;
}
.tree-container-c8{
    font-size:large;
    flex: 0 0 100%;
    position: relative;
    top: 0rem;
    left: 75%;
    background: rgb(0, 8, 12);
    color: #dd6706;
    max-height: 30%;
    max-width: 25%;
    display: block;
    text-align:start;
    text-align: left;
    padding: 5px;
    padding-left: .1rem;
}
.tree-container-c9{
    font-size:large;
    flex: 0 0 100%;
    position: relative;
    top: 0rem;
    left: 75%;
    background: rgb(0, 8, 12);
    color: #dd6706;
    max-height: 30%;
    max-width: 25%;
    display: block;
    text-align:start;
    text-align: left;
    padding: 5px;
    padding-left: .1rem;
}

.tree-container{
    font-size:med;
    flex: 0 0 100%;
    position: relative;
    top: 0rem;
    left: 75%;
    background: rgb(0, 8, 12);
    color: #dd6706;
    max-height: 30%;
    max-width: 25%;
    display: block;
    text-align:start;
    text-align: left;
    padding: 5px;
    padding-left: .1rem;
}
.tree-container-button{
    color: #e0e0e0;
    position: relative;
    left: 24%;
    top: 2rem;
}
.message{
    position: relative;
    top: -25rem;
    left: -1%;
    color: #fff;
    border-radius: 100px;
    background-color: #000c11;
    color: rgb(7, 127, 224);
    font-size: large;
    width: 45%;
    height: 4rem;
    text-wrap: pretty;
}
.in_game{
    position: relative;
    padding: 20px 30px;
    top: -18rem;
    left: -39.9%;
    color: #fff;
    border-radius: 100px;
    background-color: #000c11;
    color: rgb(7, 127, 224);
    font-size: medium;
    width: 16rem;
    height: 2rem;
}
.questions{
    position: relative;
    padding: 10px 30px;
    height: 30%;
    top: -22rem;
    left: 22%;
    color: #fff;
    border-radius: 100px;
    background-color: #000c11;
    color: beige;
    font-size: medium;
    width: 50%;

}

.btn1, .btn2, .btn3, .btn3, .btn4, .btn5 {
    position: relative;
    top: -21rem;
    left: -5%;
    padding: 10px 30px;
    color: #fff;
    border-radius: 100px;
    background-color: #000c11;
    color: beige;
    font-size: medium;
    width: 8%;
    height: 4%;

    
}
.btn6, .btn7, .btn8, .btn9, .btn10
{
    position: relative;
    text-align: center;
    left: -5%;
    top: -20.5rem;
    padding: 10px 30px;
    color: #fff;
    border-radius: 100px;
    background-color: #000c11;
    color: beige;
    font-size: medium;
    width: 8%;
    height: 4%;
}
.btn11, .btn12, .btn13, .btn14, .btn15
{
    position: relative;
    text-align: center;
    left: -5%;
    top: -20rem;
    padding: 10px 30px;
    color: #fff;
    border-radius: 100px;
    background-color: #000c11;
    color: beige;
    font-size: medium;
    width: 8%;
    height: 1%;
}
.o1 {
    position: relative;
    top: -18rem;
    left: -5%;
    color: #fff;
    border-radius: 100px;
    background-color: #1a1b02;
    color: rgb(7, 173, 224);
    font-size: medium;
    width: 3rem;
    height: 2rem;
}
.o2 {
    position: relative;
    top: -18rem;
    left: -5%;
    color: #fff;
    border-radius: 100px;
    background-color: #1a1b02;
    color: rgb(7, 173, 224);
    font-size: medium;
    width: 3rem;
    height: 2rem;
}
.o3 {
    position: relative;
    top: -18rem;
    left: -5%;
    color: #fff;
    border-radius: 100px;
    background-color: #1a1b02;
    color: rgb(7, 173, 224);
    font-size: medium;
    width: 3rem;
    height: 2rem;
}

.select_round{
    position: relative;
    top: -30rem;
    left: -45%;
    color: #fff;
    border-radius: 40px;
    background-color: #1a1b02;
    color: rgb(7, 173, 224);
    font-size:small;
    width: 8rem;
    height: 1.5rem;
    text-wrap: inherit;

}
.select_fix{
    position: relative;
    top: -30rem;
    left: -45%;
    color: #fff;
    border-radius: 40px;
    background-color: #1a1b02;
    color: rgb(7, 173, 224);
    font-size:small;
    width: 8rem;
    height: 1.5rem;
    text-wrap: inherit;


}
.select_script{
    position: relative;
    top: -30rem;
    left: -45%;
    color: #fff;
    border-radius: 40px;
    background-color: #000c11;
    color: rgb(7, 173, 224);
    font-size:small;
    width: 8rem;
    height: 1.5rem;
    text-wrap: inherit;
}
.helps1{
    position: relative;
    font-size:large;
    top: -29rem;
    left: -38%;
    border-radius: 2px;
    background-color: #1a1b02;
    color: rgb(7, 173, 224);
    width: 2rem;
    height: 1rem;
    text-wrap: inherit;
}

.helps2 {
    position: relative;
    font-size:large;
    top: -29rem;
    left: -36%;
    border-radius: 2px;
    background-color: #1a1b02;
    color: rgb(7, 173, 224);
    width: 2rem;
    height: 1rem;
    text-wrap: inherit;
}
.helps3{
    position: relative;
    font-size:large;
    top: -29rem;
    left: -39.5%;
    border-radius: 2px;
    background-color: #1a1b02;
    color: rgb(7, 173, 224);
    width: 2rem;
    height: 1rem;
    text-wrap: inherit;
}
 .helps4 {
    position: relative;
    font-size:large;
    top: -29rem;
    left: -39.5%;
    border-radius: 2px;
    background-color: #1a1b02;
    color: rgb(7, 173, 224);
    width: 2rem;
    height: 1rem;
    text-wrap: inherit;
}
.helps5 {
    position: relative;
    font-size:large;
    top: -29rem;
    left: -38.5%;
    border-radius: 2px;
    background-color: #1a1b02;
    color: rgb(7, 173, 224);
    width: 2rem;
    height: 1rem;
    text-wrap: inherit;
}
.helps6 {
    position: relative;
    font-size:large;
    top: -30.4rem;
    left: -29.5%;
    border-radius: 2px;
    background-color: #1a1b02;
    color: rgb(7, 173, 224);
    width: 2rem;
    height: 1rem;
    text-wrap: inherit;
}


.invite{
    position: relative;
    top: -22rem;
    left: -11rem;
    color: #fff;
    border-radius: 100px;
    background-color: #1a1b02;
    color: rgb(7, 173, 224);
    font-size: medium;
    width: 10rem;
    height: 2rem;
    text-wrap:inherit
}
.p50_50{
    position: relative;
    top: -28rem;
    left: -31%;
    color: #fff;
    border-radius: 100px;
    background-color: #1a1b02;
    color: rgb(7, 173, 224);
    font-size: medium;
    width: 5rem;
    height: 2rem;
    text-wrap:inherit
}
.alter{
    position: relative;
    top: -28rem;
    left: -31%;
    color: #fff;
    border-radius: 100px;
    background-color: #1a1b02;
    color: rgb(7, 173, 224);
    font-size: medium;
    width: 9rem;
    height: 2rem;
    text-wrap:inherit
}
.navi{
    position: relative;
    top: -28rem;
    left: -31%;
    color: #fff;
    border-radius: 100px;
    background-color: #1a1b02;
    color: rgb(7, 173, 224);
    font-size: medium;
    width: 7rem;
    height: 2rem;
    text-wrap:inherit
}
.x2{
    position: relative;
    top: -27rem;
    left: -31%;
    color: #fff;
    border-radius: 100px;
    background-color: #1a1b02;
    color: rgb(7, 173, 224);
    font-size: medium;
    width: 4rem;
    height: 2rem;
    text-wrap:inherit
}

.help_auden{
    position: relative;
    top: -27rem;
    left: -31%;
    color: #fff;
    border-radius: 100px;
    background-color: #1a1b02;
    color: rgb(7, 173, 224);
    font-size: medium;
    width: auto;
    height: 2rem;
    text-wrap:inherit;
}

.fact{
    position: relative;
    top: -27rem;
    left: -31%;
    color: #fff;
    border-radius: 100px;
    background-color: #1a1b02;
    color: rgb(7, 173, 224);
    font-size: medium;
    width: 7rem;
    height: 2rem;
    text-wrap:inherit;
}

.start_game{
    position: relative;
    top: -22rem;
    left: -11rem;
    color: #fff;
    border-radius: 100px;
    background-color: #1a1b02;
    color: rgb(7, 173, 224);
    font-size: medium;
    width: 7rem;
    height: 2rem;
    text-wrap:inherit
}


.show-right{
    position: relative;
    top: -21.5rem;
    left: -23rem;
    color: #fff;
    border-radius: 100px;
    background-color: #1a1b02;
    color: rgb(7, 173, 224);
    font-size: medium;
    width: auto;
    height: 2rem;
    text-wrap:inherit
}
.cancel-answer{
    position: relative;
    top: -21.5rem;
    left: -23rem;
    color: #fff;
    border-radius: 100px;
    background-color: #1a1b02;
    color: rgb(7, 173, 224);
    font-size: medium;
    width: 9rem;
    height: 2rem;
    text-wrap:inherit
}
.next-round{
    position: relative;
    top: -23.5rem;
    left: 9.3rem;
    color: #fff;
    border-radius: 100px;
    background-color: #1a1b02;
    color: rgb(7, 173, 224);
    font-size: medium;
    width: 10rem;
    height: 2rem;
    text-wrap:inherit
}
.fixed_script{
    position: relative;
    top: -23.5rem;
    left: 9.5rem;
    color: #fff;
    border-radius: 100px;
    background-color: #1a1b02;
    color: rgb(7, 173, 224);
    font-size: medium;
    width: auto;
    height: 2rem;
    text-wrap:inherit
}
.take_money{
    position: relative;
    top: -22rem;
    left: -11rem;
    color: #fff;
    border-radius: 100px;
    background-color: #1a1b02;
    color: rgb(7, 173, 224);
    font-size: medium;
    width: 9rem;
    height: 2rem;
    text-wrap:inherit
}
.total_money
{
    position: relative;
    top: -22rem;
    left: -15rem;
    color: #fff;
    border-radius: 100px;
    background-color: #1a1b02;
    color: rgb(7, 173, 224);
    font-size: medium;
    width: auto;
    height: 2rem;
    text-wrap:inherit
}

.copyrights{
    position: relative;
    display: flex;
    padding: 10px 50px;
    background: linear-gradient(0deg, #000, #3a3a3a);
    color: #fff;
    justify-content: space-between;
    max-width:100%;
    max-height:100%;
    top: 16rem;
}

.cancel_all{
    position: relative;
    top: -21rem;
    left: -40rem;
    color: #fff;
    border-radius: 100px;
    background-color: #1a1b02;
    color: rgb(7, 173, 224);
    font-size: medium;
    width: 5rem;
    height: 2rem;
    text-wrap:inherit
}
.stop_sounds{
    position: relative;
    top: -21rem;
    left: -40rem;
    color: #fff;
    border-radius: 100px;
    background-color: #1a1b02;
    color: rgb(7, 173, 224);
    font-size: medium;
    width: 10rem;
    height: 2rem;
    text-wrap:inherit
}
.room_id{
    position: relative;
    top: -19rem;
    left: -21rem;
    color: #fff;
    border-radius: 100px;
    background-color: #1a1b02;
    color: rgb(7, 173, 224);
    font-size: medium;
    width: 5rem;
    height: 2rem;
    text-wrap:inherit;
    text-align: center;

}
.user_id{
    position: relative;
    top: -23rem;
    left: -21rem;
    color: #fff;
    border-radius: 100px;
    background-color: #1a1b02;
    color: rgb(7, 173, 224);
    font-size: medium;
    width: 5rem;
    height: 2rem;
    text-wrap:inherit;
    text-align: center;
}


.open_room{
    position: relative;
    top: -19rem;
    left: -20rem;
    color: #fff;
    border-radius: 100px;
    background-color: #1a1b02;
    color: rgb(7, 173, 224);
    font-size: medium;
    width: 10rem;
    height: 2rem;
    text-wrap:inherit
}

.music{
    position: relative;
    top: -20rem;
    left: -14rem;
    color: #fff;
    border-radius: 100px;
    background-color: #1a1b02;
    color: rgb(7, 173, 224);
    font-size: medium;
    width: auto;
    height: 2rem;
    text-wrap:inherit    
}


*:disabled
{
    color: #555551;
}

.status_users{
    background: #f5e8d0; /* Цвет фона таблицы */
    font-size: smaller;
    border-spacing: 0;
    position: relative;
    left: 68%;
    top: -40rem;
    text-wrap:initial;
    text-align: center;
}
th {
    background: #496791; /* Цвет фона ячеек */
    color: #fff; /* Цвет текста */
    width: 2rem;
   }
   td, th {
   padding: 10px; /* Поля в ячейках */
    border: 1px solid #333; /* Параметры рамки */
   }
 /*


main {
    box-sizing: border-box;
    display: block;
    unicode-bidi: isolate;
}





h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}


.form_group {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
}

.form_label {
    display: block;
    font-weight: 500;
    margin: 5px;
    font-size: 1.5rem;
    line-height: 1.25rem;
    margin-bottom: .25rem;
    font-style: italic;
    color: beige;
}
.form_label_down {
    position: relative;
    top: -24rem;
    display: block;
    font-weight: 500;
    margin: 5px;
    font-size: 1.3rem;
    line-height: 1.25rem;
    margin-bottom: .25rem;
    font-style:normal;
    color:aquamarine
}

















