   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width:100%;
    max-height:100%;
}
  html body{
    position: relative;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    font-size: larger;
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    background-image: url(/static/img/slot.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    max-height: 100%;
   }
main {
    box-sizing: border-box;
    display: block;
    unicode-bidi: isolate;
}

.game_auth {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    max-width: 480px;
    margin: 0 auto;
    height: 100vh;
    background: #8312834f;
    overflow: hidden;
    grid-area: span;
}

.game_auth h1 {
    margin: 0;
    background: rgb(0, 174, 255);
    font-size: 1.4rem;
    width: 100%;
    text-align: center;
    padding: 8px 0;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.game_auth_container {
    flex: 0 0 100%;
    height: 100%;
    max-height: 100%;
    display: block;
    text-align: center;
    padding: 1rem;
    z-index: 0;
}

.questions{
    position: relative;
    padding: 10px 30px;
    height: 30%;
    top: -55rem;
    left: 22%;
    color: #fff;
    border-radius: 100px;
    background-color: #000c11;
    color: beige;
    font-size: medium;
    width: 50%;
     z-index: 10;

}

.btn1, .btn2, .btn3, .btn3, .btn4, .btn5 {
    position: relative;
    top: -51rem;
    padding: 12px 43px;
    color: #fff;
    border-radius: 100px;
    background-color: #000c11;
    color: beige;
    font-size: medium;
    width: 8%;
    height: auto;
    z-index: 10;
    
}
.btn6, .btn7, .btn8, .btn9, .btn10
{
    position: relative;
    top: -50.5rem;
    padding: 12px 43px;
    color: #fff;
    border-radius: 100px;
    background-color: #000c11;
    color: beige;
    font-size: medium;
    width: 8%;
    height: auto;
    z-index: 10;
}
.btn11, .btn12, .btn13, .btn14, .btn15
{
    position: relative;
    top: -50rem;
    padding: 12px 43px;
    color: #fff;
    border-radius: 100px;
    background-color: #000c11;
    color: beige;
    font-size: medium;
    width: 8%;
    height: auto;
    z-index: 10;
}
.message{
    position: relative;
    left: 7rem;
    top: -60rem;
    color: #fff;
    border-radius: 100px;
    background-color: #000c11;
    color: rgb(7, 127, 224);
    font-size: medium;
    width: 45%;
    height: 4rem;
}


.form_label {
    display: block;
    font-weight: 500;
    margin: 5px;
    font-size: 1.5rem;
    line-height: 1.25rem;
    margin-bottom: .25rem;
    font-style: italic;
    color: beige;
}


.copyrights{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    padding: 10px 40px;
    background: linear-gradient(0deg, #000, #3a3a3a);
    color: #fff;
    justify-content: space-between;
}

footer{
    font-size: small;
    max-width:100%;
    max-height:100%;

}

.otbor_input{
    position: relative;
    top: -40rem;
    left: 0rem;
    color: #fff;
    border-radius: 100px;
    background-color: #1a1b02;
    color: rgb(7, 173, 224);
    font-size: medium;
    width: 5rem;
    height: 2rem;
    text-wrap:inherit;
    text-align: center;

}
.send_answer_otbor{
    position: relative;
    top: -40rem;
    left: 0rem;
    color: #fff;
    border-radius: 100px;
    background-color: #1a1b02;
    color: rgb(7, 173, 224);
    font-size: medium;
    width: 10rem;
    height: 2rem;
    text-wrap:inherit
}

*:disabled
{
    color: #555551;
}
